{{>head}}
	<div class="main-content">
		<section class="title-bar">{{>header}}<h4>{{subtitle}}</h4></section>
		<section>{{>navbar}}</section>
		<section><p>{{message}}</p></section>
	</div>
	{{>footer}}
</body>
</html>